.soft-skill {
    background-color: #FFB240 !important;
    margin: 1px;
}

.hard-skill {
    background-color: #0D6EFD !important;
    margin: 1px;
}

.unknown-skill {
    background-color: #6BEC3C !important;
    margin: 1px;
}

.disabled-skill {
    background-color: #32384a !important;
    margin: 1px;
}