body {
  background: #d6eaf8;
  margin:40px;
}
* {
  box-sizing: border-box;
}

input {
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
}
.input-box {
  border-radius:10px;
  border: 1px solid #eee;
  transition: .3s border-color;
  display : inline-flex;
}
.input-box:hover {
  border: 1px solid #aaa;
}
.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 15px;
  margin: 10px 20px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  display : inline-flex;
}
.gradient-button:hover {
  background-position: right center;
}

.edit-block { 
  display : inline-flex;
}

.request-blick { 
  display : inline-flex;
}

.flash {
  padding: 10px;
}

.flash.success {
  border: 1px solid #21DB56;
  background: #AEFFC5;
}

.flash.error {
  border: 1px solid #FF4343;
  background: #FF9C9C;
}