<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>
<body>
    <!--Header Page-->
    <header class="page-header">
            <text>Digital professional me</text>
            <div class="header-block">
                <button class="header-button">Home</button>
                <button class="header-button">About</button>
                <button class="header-button">Login</button>
                <button class="header-button">Logout</button>
            </div>
    </header>
    <!---->

   <!-- Change word block -->
    <div class = "edit-block">
        <input type="text" id = "change-word" onkeypress="chengeWordPress(event)" value = "" class="input-box" size="60%"/>
        <button href="" id="newWordButt" class="gradient-button" onclick="loadNewWord()">Change</button>
    </div>
    <!---->

    <!-- Req block-->
    <div class = "request-block">
        <input type="url" id = "input-url" value = "" onkeypress="parsePress(event)" class="input-box" size="60%"/>
        <button class="gradient-button" onclick = "reqForParse()">Send</button>
        <div id = "frame"></div>
    </div>
    <!---->

    <!-- Options block -->
    <div>
        <div id="list1" class="dropdown-check-list" tabindex="100">
            <span class="anchor" style="width: 250px;">Options</span>
            <ul class="items">
                <li><input type="checkbox"/>JSON in console</li>
                <li><input type="checkbox" />Show HH page</li>
            </ul>
        </div>
    </div>
    <!---->
    
    <!-- Footer Page -->
    <div id="footer">
        &copy; Digital professional me
    </div>
    <!---->
    
    <!-- JS -->
    <script src="../static/script.js"></script>
</body>
</html>