<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task list</title>
</head>
<body>
    <h1>Список задач</h1>
    <hr/>

    <h2>09.04.2022</h2>
    <dl>
        <dt>Сделано</dt>
            <dd>
                <ol type="1">
                    <li>Протестированы разные версии диаграмм</li>
                    <li>Выбрана и встроена на страницу первая версия диграммы</li>
                    <li>Протестированы разные реализации загрузки файлов на сервер</li>
                    <li>Найдены несколько версий таймлайна</li>
                </ol>
            </dd>
    </dl>
    <hr/>

    <h2>06.04.2022</h2>
    <dl>
        <dt>Сделано</dt>
            <dd>
                <ol type="1">
                    <li>Popup menu</li>
                    <li>Drag'n'Drop для файлов</li>
                    <li>Кнопки Call to action</li>
                    <li>Страница со ссылками на документацию</li>
                    <li>Страница со задачами</li>
                    <li>Отрисовка скилов при загрузки страницы  из JS</li>
                    <li>Линк на страницу о нас</li>
                </ol>
            </dd>
    </dl>
    <hr/>

    <h2>04.04.2022</h2>
    <dl>
        <dt>Задачи</dt>
            <dd>
                <ol type="1">
                    <li>Добавить Call to action +</li>
                    <li> В блоке Skills добавление(с подсказкой), редактирование, подсказка при наведении </li>
                    <li>Блок с информацией ужимается (остаётся только правый блок)</li>
                    <li>Фильтр (фассеты) для timeline</li>
                    <li>Digital Professional Me (tm) +</li>
                    <li>Замедлить фон +</li>
                </ol>
            </dd>
    </dl>
    <hr/>

</body>
</html>