<!doctype html>
<html>
<head>
  <title>Timeline</title>

  <!-- Timeline Js and CSS -->
  <script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
  <link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../static/css/timeline-vis.css">
  <!---->

</head>
<body>
  
  <!-- Container for Timeline-->
  <!-- <div id="visualization"></div> -->
  <!---->

  <!-- Debug form for Timeline-->
  <!-- <div id="debugTimeline"></div> -->
  <!---->

  <div id="testing"></div>

  <!-- Timeline actions-->
  <!-- <script src="js/main-page/timeline-actions.js" type="text/javascript"></script> -->
  <script src="../static/js/testtime.js"></script>
  <script src="../static/js/main-page/on-page-load.js" type="text/javascript"></script>

</body>
</html>